
html {
  min-height: 100%;
  overflow-x: clip;
  overflow-y: auto;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: clip;
  overflow-y: visible;
  touch-action: pan-y;
  
  /* ESTO OCULTA LA BARRA EN FIREFOX Y EDGE */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

app-root {
  display: block;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

/* ========================================= */
/* ESTO OCULTA LA BARRA EN CHROME Y SAFARI   */
/* ========================================= */
::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent;
}
